<!DOCTYPE html>
<html>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <!-- Enable responsive mobile interface: -->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <head>
    <meta charset="utf-8">
    <title>Silicandy Valley Bank</title>
  </head>
  <body>
    {% for message in messages %}
      <div>{{ message }}</div>
    {% endfor %}
    {% block content %} {% endblock content %}
    <div class="base-newsfeed-wrapper">
      <div class="base-newsfeed">
        {% include "./snippets/news_feed.html" with articles=articles show_editor_fields=False %}
      </div>
    </div>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-66EK4B8DL4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-66EK4B8DL4');
    </script>
  </body>
</html>
