{% extends "internal/base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/news_editor.css' %}">
  <h1>Work in progress</h1>
  <div id="forms">
    <form id="article-form" method="post">
      {% csrf_token %}
      {% include "../snippets/form_renderer.html" with form=article_form %}
      <button type="submit" name="action" value="create-article">Create Article</button>
    </form>
    <form id="author-form" method="post">
      {% csrf_token %}
      {% include "../snippets/form_renderer.html" with form=author_form %}
      <button type="submit" name="action" value="create-author">Create Author</button>
    </form>
  </div>
  <form id="publish-form" method="post">
    {% csrf_token %}
    {% include "../snippets/news_feed.html" with articles=articles show_editor_fields=True %}
  </form>
{% endblock content %}
