#forms {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 10px;
  gap: 10px;
}

@media (min-width: 800px) {
  #forms {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

.article {
  padding: 50px;
  border-top: blue;
  border-radius: 5px;
}

.article .headline {
  font-size: 1.5em;
  font-weight: bold;
}

.article .author .name {
  font-style: bold;
}

.article .author .title {
  font-style: italic;
}
